body{
	padding: 0 0 0 0;
}

.warn{
	color:red;
}

/* form square */
.square {
	width:250px; height: 30px;
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	border-radius: 0.3em;
}

.square:focus {
	color: #ffffff;
	border: solid 1px #0076a3;
	background: #100a99;
}

.medium-square {
	width:120px; height: 30px;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em;
}

.mini-square {
	width:80px; height: 30px;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em;
}


/* blue */
.blue {
	color: #d9eef7;
	font-weight: bold;
	border: solid 1px #0076a3;
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top, #00adee, #0078a5);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}

.blue:hover {
	color: #ffffff;
	border: solid 1px #0076a3;
	background: #100a99;
}

/* green-button */
.btn-green {
  background-color: hsl(110, 56%, 36%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#64cd4f", endColorstr="#398f28");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#64cd4f), to(#398f28));
  background-image: -moz-linear-gradient(top, #64cd4f, #398f28);
  background-image: -ms-linear-gradient(top, #64cd4f, #398f28);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #64cd4f), color-stop(100%, #398f28));
  background-image: -webkit-linear-gradient(top, #64cd4f, #398f28);
  background-image: -o-linear-gradient(top, #64cd4f, #398f28);
  background-image: linear-gradient(#64cd4f, #398f28);
  border-color: #398f28 #398f28 hsl(110, 56%, 31%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;
  height: 25px;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em;
  border: solid 1px #0076a3;
  font-weight: bold;
  outline: none;
  cursor: pointer;
}

/* red button */
.btn-red {
  background-color: hsl(0, 77%, 34%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e53838", endColorstr="#991313");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#e53838), to(#991313));
  background-image: -moz-linear-gradient(top, #e53838, #991313);
  background-image: -ms-linear-gradient(top, #e53838, #991313);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e53838), color-stop(100%, #991313));
  background-image: -webkit-linear-gradient(top, #e53838, #991313);
  background-image: -o-linear-gradient(top, #e53838, #991313);
  background-image: linear-gradient(#e53838, #991313);
  border-color: #991313 #991313 hsl(0, 77%, 28.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.36);
  -webkit-font-smoothing: antialiased;
  height: 25px;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em;
  border: solid 1px #0076a3;
  font-weight: bold;
  outline: none;
  cursor: pointer;
}

/* blue button */
.btn-blue{
  background-color: hsl(212, 71%, 38%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3f89de", endColorstr="#1c5ca5");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#3f89de), to(#1c5ca5));
  background-image: -moz-linear-gradient(top, #3f89de, #1c5ca5);
  background-image: -ms-linear-gradient(top, #3f89de, #1c5ca5);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3f89de), color-stop(100%, #1c5ca5));
  background-image: -webkit-linear-gradient(top, #3f89de, #1c5ca5);
  background-image: -o-linear-gradient(top, #3f89de, #1c5ca5);
  background-image: linear-gradient(#3f89de, #1c5ca5);
  border-color: #1c5ca5 #1c5ca5 hsl(212, 71%, 33.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.29);
  -webkit-font-smoothing: antialiased;
  height: 25px;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em;
  border: solid 1px #0076a3;
  font-weight: bold;   
  outline: none;
  cursor: pointer;
}

.font-small{
  font-size: 9px;
}

.font-header{
  font-size: 12px;
  font-weight: bolder;
}

div.tagsinput { border:1px solid #CCC; background: #FFF; padding:1px; width:300px; height:100px; overflow-y: auto;}
div.tagsinput span.tag { border: 1px solid #a5d24a; -moz-border-radius:2px; -webkit-border-radius:2px; display: block; float: left; padding: 1px; text-decoration:none; background: #cde69c; color: #638421; margin-right: 5px; margin-bottom:5px;font-family: helvetica;  font-size:13px;}
div.tagsinput span.tag a { font-weight: bold; color: #82ad2b; text-decoration:none; font-size: 11px;  } 
div.tagsinput input { width:80px; margin:0px; font-family: helvetica; font-size: 13px; border:1px solid transparent; padding:1px; background: transparent; color: #000; outline:0px;  margin-right:5px; margin-bottom:5px; }
div.tagsinput div { display:block; float: left; } 
.tags_clear { clear: both; width: 100%; height: 0px; }
.not_valid {background: #FBD8DB !important; color: #90111A !important;}


.fgrid tr.z-row td.z-row-inner,tr.z-row,div.z-grid-body
			div.z-cell,div.z-grid,tr.z-row-over,td.z-row-inner {
	border: none;
	overflow: hidden;
	zoom: 1;
	background: white;
	border-top: none;
	border-left: none;
	color: #000000;
	border-right: none;
	border-bottom: none;
}

tr.z-row-over>td.z-row-inner>.z-row-cnt {
	color: #000000
}
